<div class="container">
  <p>
    ScoreCards
  </p>
  <div class="col-2 float-left">
      UNITID
    <input type="text" class="form-control" placeholder="UNITID" (blur)="updateScoreCards('unitid', $event.target.value)">
  </div>
  <div class="col-2 float-left">
      INSTNM
      <input type="text" class="form-control" placeholder="INSTNM" (blur)="updateScoreCards('instnm', $event.target.value)">
  </div>
  <div class="col-2 float-left">
      CITY
      <input type="text" class="form-control" placeholder="CITY" (blur)="updateScoreCards('city', $event.target.value)">
  </div>
  <div class="col-2 float-left">
      STABBR
      <input type="text" class="form-control" placeholder="STABBR" (blur)="updateScoreCards('stabbr', $event.target.value)">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">UNITID</th>
        <th scope="col">INSTNM</th>
        <th scope="col">CITY</th>
        <th scope="col">STABBR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let scordeCard of scoreCards; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ scordeCard.UNITID }}</td>
        <td>{{ scordeCard.INSTNM }}</td>
        <td>{{ scordeCard.CITY }}</td>
        <td>{{ scordeCard.STABBR }}</td>
      </tr>
    </tbody>
  </table>
</div>